# IDE configs
# - Eclipse
.settings/
.classpath
.project
# - IntelliJ IDEA
*.idea/
*.iml
*.ipr
# - NetBeans
.nb-gradle/

# Build system files
.gradle/

# Builds
bin/
build/
*.class

# Other
.dir-locals.el
.DS_Store
*.swp
*.vimrc
*~
